.bodybg{
    -fx-background-image: url('../Images/backgroundLoby.jpeg');
    -fx-background-size: 100% 100%;
}
.check-box {
    -fx-font-size: 25;
    -fx-font-weight: bold;
}
.big-check-box > .box > .mark {
    -fx-padding: 1.3em 1.3em 1.3em 1.3em;
}