# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\adems\OneDrive\Belgeler\CS-319-PROJECT-1I-RISK\RiskGameGUI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
